// Variables

// Header
$headerBackgroundColor: #ffffff;
$headerColor: #000000;

// Sidebar
$sidebarBackgroundColor: #4e5a60fc;
$sidebarColor: #ffffff;
$sidebarActiveColor: #25d1ff;

// List
$listBackgroundPrimaryColor: #ffffff;
$listBackgroundSecondaryColor: #d3d3d0;
$listColor: #000000;

// Popup
$popupBackgroundColor: #ffffff;
$popupBorderColor: #33383a;
$popupColor: #000000;
$popupErrorMessageColor: #ff0505;
$popupButtonTextColor: #ffffff;
$popupButtonColor: #108ec1;
$popupHoverButtonColor: #05719d;

// 1.0 Colors

$secondaryColor: #ffff;
$selectionHoverColor: #6183fd99;

$publicCardBackgroundColor: #afbfd8;
$publicCardShadowColor: #00000033;
$publicCardTextColor: #000000;
$publicCardHelpTextColor: #ff0505;
$publicCardSecondaryColor: #305446;
$publicCardSecondaryHoverColor: #1c7854;

//  2.0 media queries breakpoints
$desktop: 1281px;
$desktop-laptop-breakpoint-max: 1280px;
$desktop-laptop-breakpoint-min: 1025px;
$tablet-ipad-breakpoint-max: 1024px;
$tablet-ipad-breakpoint-min: 768px;
$low-res-tablet-mobiles-breakpoint-max: 767px;
$low-res-tablet-mobiles-breakpoint-min: 481px;
$mobile-breakpoint-max: 480px;

$backgroundColor: #ffff;
$bodyColor: "";
$buttonColor: "";
$listCardColor: "#FFFFFF";
$listCardHeaderColor: "#F4F4F4";
$iconColor: "";

/*
// Desktops
@media only screen and (min-width: $desktop) {
}

// Laptops, Desktops
@media only screen and (min-width: $desktop-laptop-breakpoint-min) and (max-width: $desktop-laptop-breakpoint-max) {
}

// Tablets, Ipads
@media only screen and (min-width: $tablet-ipad-breakpoint-min) and (max-width: $tablet-ipad-breakpoint-max) {
}

// Low Resolution Tablets, Mobiles
@media only screen and (min-width: $low-res-tablet-mobiles-breakpoint-min) and (max-width: $low-res-tablet-mobiles-breakpoint-max) {
}

// Most of the Smartphones Mobiles
@media only screen and (max-width: $mobile-breakpoint-max) {
}
*/
