<mat-card fxLayout="column">

  <div fxFlex style="padding-right:10px" fxLayoutAlign="end center">
    <mat-icon matTooltip="create instrument series" (click)="onForm()">add
    </mat-icon>
  </div>

  <div fxLayout="row wrap">
    <mat-card class="custom-scroll custom-scroll-table" fxFlex="47" style="margin:20px" *ngFor="let item of modelList">
      <h2 style="color:white">Instrument Series Code: <span
          style="padding-left:20px">{{item.instrumentSeriesCode}}</span>
      </h2>
      <mat-divider></mat-divider>
      <table style="margin-top:10px" border=1 frame=void rules=rows>
        <thead>
          <tr>
            <th [style.width.%]="33.3">Name</th>

            <th [style.width.%]="33.3">Description</th>

            <th [style.width.%]="33.3">Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemDetails of item.instrumentSeriesDetails">
            <td>{{itemDetails.instrumentName ? itemDetails.instrumentName : '-' }}</td>
            <td>{{itemDetails.instrumentDescription ? itemDetails.instrumentDescription : '-' }}</td>
            <td>{{itemDetails.instrumentsCount ? itemDetails.instrumentsCount : '-' }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
</mat-card>
