<mat-card fxLayout="column" class="list_card_header">

  <div fxFlex fxLayoutAlign="end center">
    <mat-icon matTooltip="create instrument series" (click)="onForm()">add
    </mat-icon>
  </div>


  <div *ngIf="modelList.length == 0">
    <div class="no-data">
      No Data
    </div>
  </div>

  <div fxLayout="row wrap">
    <mat-card style="margin:15px;" class="multiple_list_card_header" fxFlex="48" *ngFor="let item of modelList">

      <h2>Instrument Series Code: <span style="padding-left:20px">{{item.instrumentSeriesCode}}</span>
      </h2>

      <mat-divider></mat-divider>


      <div style="width:100%;margin-top:30px" border=1 frame=void rules=rows>

        <div style="text-align: center;color: #000000de;font-weight: bold;">

          <div fxFlex="33.3">Name</div>

          <div fxFlex="33.3">Description</div>

          <div fxFlex="33.3">Quantity</div>
        </div>

        <div class="table_body custom-scroll custom-scroll-table">

          <div style="text-align: center;" class="table_row" *ngFor="let itemDetails of item.instrumentSeriesDetails">

            <div fxFlex="33.3" fxLayout="column">{{itemDetails.instrumentName ? itemDetails.instrumentName : '-' }}
            </div>

            <div fxFlex="33.3" fxLayout="column">{{itemDetails.instrumentDescription ? itemDetails.instrumentDescription
              : '-' }}</div>

            <div fxFlex="33.3" fxLayout="column">{{itemDetails.instrumentsCount ? itemDetails.instrumentsCount : '-' }}
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</mat-card>
<!-- class="table_body" -->
