<div class="form-popup">

  <div fxLayoutAlign="space-between center">

    <h2 style="margin:0" mat-dialog-title>{{id ? 'Edit User' : 'Create User'}}</h2>

    <button mat-icon-button tabindex="-1" (click)="onClose()">
      <mat-icon matTooltip="close">close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <div></div>

  <form [formGroup]="form">

    <mat-dialog-content style="max-height: 80vh" fxLayout='column'>

      <mat-form-field appearance="fill">
        <mat-label>ID</mat-label>
        <input [formControl]="form.controls.userId" matInput>
      </mat-form-field>

      <control-message *ngIf="form.controls['userId'].touched" [control]="form.controls.userId">
      </control-message>

      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input [formControl]="form.controls.firstName" matInput>
      </mat-form-field>

      <control-message *ngIf="form.controls['firstName'].touched" [control]="form.controls.firstName">
      </control-message>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input [formControl]="form.controls.lastName" matInput>
      </mat-form-field>

      <control-message *ngIf="form.controls['lastName'].touched" [control]="form.controls.lastName">
      </control-message>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input [formControl]="form.controls.username" matInput>
      </mat-form-field>

      <control-message *ngIf="form.controls['username'].touched" [control]="form.controls.username">
      </control-message>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input [formControl]="form.controls.email" matInput>
      </mat-form-field>

      <control-message *ngIf="form.controls['email'].touched" [control]="form.controls.email">
      </control-message>

      <div fxLayout="row" style="width:20%" fxLayoutAlign="space-between center">
        <mat-label>Status</mat-label>
        <mat-checkbox [formControl]="form.controls.status">
        </mat-checkbox>
      </div>

      <div fxLayout="row" style="width:20%;margin-top:10px" fxLayoutAlign="space-between center">
        <mat-label>Account Unblocked</mat-label>
        <mat-checkbox [formControl]="form.controls.locked"></mat-checkbox>
      </div>

    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="center center">
      <button (click)="onSaveUser()" [disabled]="!form.valid" type="submit"
        class="mat-raised-button mat-primary">Save</button>
    </mat-dialog-actions>
  </form>
</div>
