<div fxLayout="row">

  <div fxFlex="50" fxLayout="column">
    <mat-card>
      <h2 style="color:white">Available Instruments <span style="padding-left:20px"></span>
      </h2>
      <mat-divider></mat-divider>
      <table style="margin-top:10px" border=1 frame=void rules=rows>
        <tbody>
          <tr>
            <td>Stethoscope</td>
            <td>Stethoscope description</td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </mat-card>
  </div>

  <div fxLayoutAlign="center center" fxLayout="column">
    <mat-icon>arrow_left</mat-icon>
    <mat-icon>arrow_right</mat-icon>
  </div>

  <div fxFlex="50" fxLayout="column">
    <mat-card>
      <h2 style="color:white">Selected Instruments<span style="padding-left:20px"></span>
      </h2>
      <mat-divider></mat-divider>
    </mat-card>
  </div>
</div>
