<div style="height: 100%" class="register-login" fxLayoutAlign="center center">

  <mat-card-content style="width: 340px">

    <div fxLayout="column" fxLayoutAlign="center center">

      <div style="height:100%" fxLayout="column" fxLayoutAlign="space-evenly center">

        <div fxLayout="column" fxLayoutAlign="space-evenly center">

          <img src="./assets/images/logo/endofusion.jpg" style="width: 200px" />
        </div>

        <form fxLayoutAlign="space-between center" style="height:250px" #loginForm="ngForm" fxLayout="column"
          (ngSubmit)="onLogin(loginForm.value)">

          <div>
            <mat-form-field appearance="fill">
              <mat-icon fxFlex="20">person</mat-icon>
              <input fxFlex="80" type="text" name="username" placeholder="Username" ngModel #usernameInput="ngModel"
                required matInput />
            </mat-form-field>
          </div>
          <span *ngIf="usernameInput.invalid && usernameInput.touched">Please
            enter a username</span>

          <div>
            <mat-form-field appearance="fill">
              <mat-icon fxFlex="20">lock</mat-icon>
              <input fxFlex="80" [type]="password" name="password" placeholder="Password" ngModel #passwordInput="ngModel" matInput />
              <div style="background-color: none;" (click)="onClick()">
                <mat-icon matTooltip="visible" *ngIf="!show">visibility_off</mat-icon>
                <mat-icon matTooltip="not visible" *ngIf="show">visibility</mat-icon>
              </div>
            </mat-form-field>
          </div>

          <span *ngIf="passwordInput.invalid && passwordInput.touched">Please
            enter a password.</span>

          <mat-dialog-actions style="margin-bottom:15px" fxLayoutAlign="center center">
            <button style=" width: 100px;" class="mat-raised-button mat-primary" type="submit"
              [disabled]="loginForm.invalid" name="button">
              <div>Login</div>
            </button>
          </mat-dialog-actions>
        </form>

        <div fxLayout="column" fxLayoutAlign="center start">
          <div>Don't have an account?
            <a class="reminder" routerLink="/register">Sign Up</a>
          </div>
          <br>
          <div style="text-align: center;;width:100%">
            <a class="reminder" routerLink="/password-reset">Forgotten password?</a>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</div>
