<div style="height: 100%" *ngIf="isLoadingResult" fxLayoutAlign="center center">
  <mat-spinner diameter="150"></mat-spinner>
</div>


<div style="height: 100%" class="register-login" fxLayoutAlign="center center">

  <mat-card-content fxFlex="25" *ngIf="!isSuccessful">

    <div fxLayout="column" fxLayoutAlign="space-between center">

      <img src="./assets/images/logo/endofusion.jpg" style="width: 200px" />

      <form #registerForm="ngForm" style="margin-top:15px;margin-bottom:15px"
        (ngSubmit)="onRegister(registerForm.value)">

        <div fxLayout="column" fxLayoutAlign="start center">

          <div>
            <mat-form-field appearance="fill">
              <mat-icon fxFlex="20">person</mat-icon>
              <input fxFlex="80" type="text" name="firstName" placeholder="First name" required ngModel
                #firstNameInput="ngModel" matInput />
            </mat-form-field>
          </div>
          <span *ngIf="firstNameInput.invalid && firstNameInput.touched">Please
            enter a first name</span>

          <div>
            <mat-form-field appearance="fill">
              <mat-icon fxFlex="20">person</mat-icon>
              <input fxFlex="80" type="text" name="lastName" placeholder="Last name" required ngModel
                #lastNameInput="ngModel" matInput />
            </mat-form-field>
          </div>
          <span *ngIf="lastNameInput.invalid && lastNameInput.touched">Please
            enter a last name</span>

          <div>
            <mat-form-field appearance="fill">
              <mat-icon fxFlex="20">account_box</mat-icon>
              <input fxFlex="80" type="text" name="username" placeholder="Username" required ngModel
                #usernameInput="ngModel" matInput />
            </mat-form-field>
          </div>
          <span *ngIf="usernameInput.invalid && usernameInput.touched">Please
            enter a username</span>

          <div>
            <mat-form-field appearance="fill">
              <mat-icon fxFlex="20">email</mat-icon>
              <input fxFlex="80" type="text" name="email" placeholder="Email" required ngModel #emailInput="ngModel"
                matInput />
            </mat-form-field>
          </div>
          <span *ngIf="emailInput.invalid && emailInput.touched">Please enter an
            email</span>
        </div>

        <div style="padding-top:10px;">
          <mat-dialog-actions fxLayoutAlign="center center">
            <button [disabled]="registerForm.invalid" type="submit" name="button" style="width: 100px;"
              class="mat-raised-button mat-primary">
              <div>Register</div>
            </button>
          </mat-dialog-actions>
        </div>
      </form>
    </div>

    <div fxLayoutAlign="center center">
      <div class="reminder">
        Already have an account?
        <a routerLink="/login" style="padding-left: 5px">Log In</a>
      </div>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="isSuccessful">

    <div fxLayout="column" fxLayoutAlign="space-between center">
      
      <img src="./assets/images/logo/Capture.PNG" style="width: 100px" />
      <img src="./assets/images/logo/Capture2.PNG" style="width: 150px" />
      Your registration is successful! We've sent you a verification mail to your email account. Validate your account
      and try to login.
      <a routerLink="/login" style="padding-left: 5px">Go back to Login</a>
    </div>
  </mat-card-content>
</div>
