.email-verification {
  .mat-card-content {
    .upper {
      background-color: $publicCardBackgroundColor;
      width: 50%;
      height: 250px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      p {
        color: $secondaryColor;
      }
    }

    .bottom {
      background-color: $secondaryColor;
      width: 50%;
      height: 220px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      p {
        color: $publicCardTextColor;
      }
    }

    .mat-dialog-actions{
      background-color: $publicCardBackgroundColor;
    }
  }
}

#tick-mark {
  position: relative;
  transform: rotate(6deg);
  display: inline-block;
  width: 60px;
  left: 7px;
  height: 55px;
}

#tick-mark::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 3px;
  background-color: $secondaryColor;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

#tick-mark::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: $secondaryColor;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}
.doughnut {
  border: 7px solid $secondaryColor;
  border-radius: 100px;
  height: 100px;
  width: 100px;
}
