.custom-scroll {
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
}

.custom-manage-instrument-series-scroll {
  max-height: 230px;
  min-height: 230px;
  overflow: auto;
}

.custom-scroll-table::-webkit-scrollbar-track {
  background: #dbd5d5;
}

.custom-scroll-table::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 30px;
}

.custom-scroll-table::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

[disabled].mat-raised-button {
  box-shadow: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.mat-raised-button {
  border-radius: 4.5px;
  border: none;
  cursor: pointer;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}
// $desktop: 1281px;
// $desktop-laptop-breakpoint-max: 1280px;
// $desktop-laptop-breakpoint-min: 1025px;
// $tablet-breakpoint-max: 1024px;
// $tablet-breakpoint-min: 601px;
// $mobile-breakpoint-max: 600px;


@media only screen and (min-width: 1281px) {
  .grid-container {
   display:flex;
   flex-direction: flex-wrap;
  }
}
@media only screen and (min-width: 1281px) {
  .grid-item {
    width: 46%;
  }
}
@media only screen and (max-width: $desktop-laptop-breakpoint-max) {
  .grid-container {
   display:flex;
   flex-direction: column;
  }
}
@media only screen and (max-width: $desktop-laptop-breakpoint-max) {
  .grid-item {
    width: 100%;
  }
}

// Desktops
// @media only screen and (max-width: 1831px) {
//   .grid-item {
//     width: 47%;
//   }
// }

// .grid-item {
//   width: 48%;
//   flex: 6;
// }
// // Desktops


// // Laptops, Desktops
// @media only screen and (min-width: $desktop-laptop-breakpoint-min) and (max-width: $desktop-laptop-breakpoint-max) {
//   .grid-item {
//     width: 48%
//   }
// }

// // Tablets
// @media only screen and (min-width: $tablet-breakpoint-min) and (max-width: $tablet-breakpoint-max) {
//   .grid-item {
//     width: 48%
//   }
// }

// // Most of the Smartphones Mobiles
// @media only screen and (max-width: $mobile-breakpoint-max) {
//   .grid-item {
//     width: 48%
//   }
// }

