.err .msg {
  color: black;
}

.err {
  font-size: 11rem;
}

.msg {
  text-align: center;
  font-size: 1.4rem;
  line-height: 30px;
}

.go_login {
  text-decoration: none;
  color: #10629d;
}

.go_login:hover {
  text-decoration: underline;
}
