.custom-form-dialog-container .mat-dialog-container {
  width: 700px;
  border: 1px solid $popupBorderColor;
  .form-popup {
    background-color: $popupBackgroundColor;
    color: $popupColor;
    .gene-block {
      display: block;
    }
    .text-warn {
      color: $popupErrorMessageColor;
    }
    textarea {
      min-height: 60px;
      max-height: 60px;
    }
    .mat-raised-button {
      color: $popupButtonTextColor;
      background-color: $popupButtonColor;
    }
    .mat-raised-button:hover {
      background-color: $popupHoverButtonColor;
    }
    img {
      height: 100%;
      width: 100%;
      max-height: 190px;
    }
    .hoverable {
      position: relative;
      display: block;
      cursor: pointer;
      height: 120px;
      width: 120px;
      min-width: 120px;
    }

    .hoverable .hover-text {
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    .hoverable .background {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #ffffff80;
      pointer-events: none;
      z-index: 1;
    }
    .hoverable:hover .hover-text {
      display: block;
    }
    .hoverable:hover .background {
      display: block;
    }
    #fileInput {
      display: none;
    }
  }
}

.custom-verification-dialog-container .mat-dialog-container {
  padding: 0;
  height: 200px;
  width: 400px;
  border: 1px solid $popupBorderColor;
  .verification-popup {
    background-color: $popupBackgroundColor;
    height: 100%;
    .mat-raised-button {
      color: $popupButtonTextColor;
      background-color: $popupButtonColor;
    }
    .mat-raised-button:hover {
      background-color: $popupHoverButtonColor;
    }
  }
}

.custom-profile-details-dialog-container .mat-dialog-container {
  width: 350px;
  border: 1px solid $popupBorderColor;
  background-color: $popupBackgroundColor;
  color: $popupColor;

  .divider {
    margin-top: 4px;
    margin-bottom: 10px;
    background-color: $divider;
  }
}

.custom-instrument-series-form-dialog-container .mat-dialog-container {
  border: 1px solid $popupBorderColor;
  min-height:811px;
  .selected {
    background-color: #c2c6c8;
  }
  .form-popup {
    background-color: $popupBackgroundColor;
    color: $popupColor;
    .gene-block {
      display: block;
    }
    .text-warn {
      color: $popupErrorMessageColor;
    }
    textarea {
      min-height: 60px;
      max-height: 60px;
    }
    .mat-raised-button {
      color: $popupButtonTextColor;
      background-color: $popupButtonColor;
    }
    .mat-raised-button:hover {
      background-color: $popupHoverButtonColor;
    }
    img {
      height: 100%;
      width: 100%;
      max-height: 190px;
    }
    .hoverable {
      position: relative;
      display: block;
      cursor: pointer;
      height: 120px;
      width: 120px;
      min-width: 120px;
    }

    .hoverable .hover-text {
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    .hoverable .background {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #ffffff80;
      pointer-events: none;
      z-index: 1;
    }
    .hoverable:hover .hover-text {
      display: block;
    }
    .hoverable:hover .background {
      display: block;
    }
    #fileInput {
      display: none;
    }
  }
}
.text-warn {
  color: $popupErrorMessageColor;
}
