.register-login {
  .mat-card-content {
    background: $registerLoginPrimaryColor;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 $registerLoginShadowColor, 0 6px 20px 0 $registerLoginShadowColor;
    text-align: center;
    span {
      color: $registerLoginHelpTextColor;
    }
    mat-icon {
      color: $registerLoginSecondaryColor;
    }
    .mat-raised-button {
      background-color: $registerLoginSecondaryColor;
      text-align: center;
      height: 35px;
    }
    .mat-raised-button:hover {
      background-color: $registerLoginHoverColor;
    }
    a {
      color: $registerLoginSecondaryColor;
    }
    .reminder {
      color: $registerLoginSecondaryColor;
      text-decoration: none;
    }
    .reminder:hover {
      text-decoration: underline;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: white;
    }
    .mat-form-field {
      padding-right: 0;
    }
  }
}
