table {
  tbody {
    tr:nth-child(odd) {
      background: #d3d3d0;
    }
    line-height: 4em;
    td {
      text-align: center;
    }
  }
}

.manage-instrument-table-row {
  tr:nth-child(odd) {
    background: #d3d3d0;
  }
}
