.list_card_header {
  background-color: #cdcecf;
  .table_body {
    line-height: 4em;
    .table_row {
      background-color: $listBackgroundPrimaryColor;
      text-align: center;
    }
    .table_row:nth-child(odd) {
      background: $listBackgroundSecondaryColor;
    }
  }
}
