.user_card {
  text-align: center;
  background: #afbfd8;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}


  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #afbfd8;
  }


  .mat-form-field {
    padding-right: 0;
  }

