<div>

  <mat-toolbar class="header" fxFlex fxLayoutAlign="space-between center">

    <div fxLayoutAlign="center center">

      <button *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_MANAGER'" [disabled]="router.url ==='/home'"
        (click)="onSendIsSidebarOpened.emit(isOpened=!isOpened)" mat-icon-button
        aria-label="Example icon-button with menu icon">
        <mat-icon class="mat-sidenav-icon">menu</mat-icon>
      </button>

      <img src="./assets/images/logo/endofusion.jpg" style="margin-left:20px;width:150px">
    </div>

    <div class="header__header-items" fxLayoutAlign="center center">

      <a *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_MANAGER'" class="header__header-items--header-item"
        [routerLink]="['/home']"><img matTooltip="home" src="./assets/images/icons/home.png"></a>
      <a *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_MANAGER'" class="header__header-items--header-item"
        (click)="onUserDetails()"><img matTooltip="User Details" src="./assets/images/icons/user.png"></a>
      <a *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_MANAGER' || role=== 'ROLE_USER'"
        class="header__header-items--header-item" (click)="onLogout()"><img matTooltip="Log out"
          src="./assets/images/icons/logout.png"></a>
    </div>
  </mat-toolbar>
</div>
