<div style="height: 100%" class="register-login" fxLayoutAlign="center center">

  <mat-card-content fxLayout="column" fxFlex="25">

    <div style="width:100%" fxLayoutAlign="start center">
      <h2>Enter Your New Password</h2>
    </div>

    <mat-divider></mat-divider>

    <form [formGroup]="form" fxLayout="column">

      <mat-form-field appearance="fill">
        <mat-icon fxFlex="10">lock</mat-icon>
        <input [formControl]="form.controls.password" [type]="password" placeholder="Password" #passwordInput required
          matInput />
        <div style="background-color: none;" (click)="onClickPassword()">
          <mat-icon matTooltip="visible" *ngIf="!showPassword">visibility_off</mat-icon>
          <mat-icon matTooltip="not visible" *ngIf="showPassword">visibility</mat-icon>
        </div>
      </mat-form-field>
      <control-message [control]="form.controls.password">
      </control-message>

      <mat-form-field appearance="fill">
        <mat-icon fxFlex="10">lock</mat-icon>
        <input [formControl]="form.controls.confirmPassword" [type]="password" placeholder="Confirm Password"
          #confirmPasswordInput required matInput />
        <div style="background-color: none;" (click)="onClickConfirmPassword()">
          <mat-icon matTooltip="visible" *ngIf="!showConfirmPassword">visibility_off</mat-icon>
          <mat-icon matTooltip="not visible" *ngIf="showConfirmPassword">visibility</mat-icon>
        </div>
      </mat-form-field>
      <control-message [control]="form.controls.confirmPassword">
      </control-message>

      <mat-dialog-actions fxLayoutAlign="center center">
        <button (click)="onChangePassword(form.controls.password.value)" [disabled]="!form.valid" type="submit"
          class="mat-raised-button mat-primary">Save</button>
      </mat-dialog-actions>
    </form>
  </mat-card-content>
</div>
