<div style="height: 100%" class="register-login" fxLayoutAlign="center center">

  <mat-card-content fxLayout="column" fxFlex="25">

    <div style="width:100%" fxLayoutAlign="start center">
      <h2>Enter Your New Password</h2>
    </div>

    <mat-divider></mat-divider>

    <form #passwordResetForm="ngForm" fxLayout="column" (ngSubmit)="onPasswordReset(passwordResetForm.value)">

      <mat-form-field appearance="fill">
        <mat-icon fxFlex="10">lock</mat-icon>
        <input name="password" [type]="password" placeholder="Password" #passwordInput required matInput />
        <div style="background-color: none;" (click)="onClickPassword()">
          <mat-icon matTooltip="visible" *ngIf="!showPassword">visibility</mat-icon>
          <mat-icon matTooltip="not visible" *ngIf="showPassword">visibility_off</mat-icon>
        </div>
      </mat-form-field>

      <span *ngIf="passwordInput.invalid && passwordInput.touched">Please
        enter your password</span>

      <mat-form-field appearance="fill">
        <mat-icon fxFlex="10">lock</mat-icon>
        <input name="confirmPassword" [type]="password" placeholder="Confirm Password" #confirmPasswordInput required
          matInput />
        <div style="background-color: none;" (click)="onClickConfirmPassword()">
          <mat-icon matTooltip="visible" *ngIf="!showConfirmPassword">visibility</mat-icon>
          <mat-icon matTooltip="not visible" *ngIf="showConfirmPassword">visibility_off</mat-icon>
        </div>
      </mat-form-field>

      <span *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched">Please
        enter your password</span>
    </form>
  </mat-card-content>
</div>
