<div style="height: 100%" class="register-login" fxLayoutAlign="center center">

  <mat-card-content fxLayout="column" style="width:425px">

    <div style="width:100%" fxLayoutAlign="start center">
      <h2>Find Your Account</h2>
    </div>

    <mat-divider></mat-divider>

    <div style="text-align: left;padding-top:20px">
      Please enter your email address to search for your account.
    </div>

    <form #passwordResetForm="ngForm" fxLayout="column" (ngSubmit)="onPasswordReset(passwordResetForm.value.email)">

      <mat-form-field appearance="fill">
        <mat-icon fxFlex="10">email</mat-icon>
        <input name="email" type="email" placeholder="Email" ngModel #emailInput="ngModel" required matInput />
      </mat-form-field>

      <span *ngIf="emailInput.invalid && emailInput.touched">Please
        enter your email</span>

      <mat-dialog-actions style="margin-bottom:15px" fxLayoutAlign="center center">
        <button style=" width: 100px;" class="mat-raised-button mat-primary" type="submit" name="button">
          <div>Reset</div>
        </button>
      </mat-dialog-actions>
    </form>
  </mat-card-content>
</div>