<div style="height: 100%" class="register-login" fxLayoutAlign="center center">

  <mat-card-content fxLayout="column" fxFlex="25">

    <div style="width:100%" fxLayoutAlign="start center">
      <h2>Find Your Account</h2>
    </div>

    <mat-divider></mat-divider>

    <div style="text-align: left;padding-top:20px">
      Please enter your email address to search for your account.
    </div>

    <form #passwordResetForm="ngForm" fxLayout="column" (ngSubmit)="onPasswordReset(passwordResetForm.value.email)">

      <mat-form-field appearance="fill">
        <mat-icon fxFlex="10">email</mat-icon>
        <input name="email" type="email" placeholder="Email" ngModel #emailInput="ngModel" required matInput />
      </mat-form-field>

      <span *ngIf="emailInput.invalid && emailInput.touched">Please
        enter your email</span>
    </form>
  </mat-card-content>
</div>
