<app-header *ngIf="router.url !== '/login' && !router.url.includes('register') && router.url !== '/notfound'"
  (onSendIsSidebarOpened)="onGetIsSideBarOpened($event)"></app-header>

<mat-sidenav-container>
  <mat-sidenav *ngIf="router.url !== '/login' && !router.url.includes('register') && router.url !== '/notfound'"
    [opened]="router.url !=='/home' ? !isSidebarOpened: isSidebarOpened" mode="side">
    <mat-nav-list fxLayout="column" menuToggleDirective class="navigation">
      <mat-list-item fxLayoutAlign="start center" menuToggleLink *ngFor="let menuitem of menuItems">
        <a menuToggle [routerLink]="menuitem.path" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
          <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100">
            <div>
              <span>{{ menuitem.data.label }}</span>
            </div>
          </div>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
