<app-header
  *ngIf="router.url !== '/login' && !router.url.includes('register') && router.url !== '/notfound' && !router.url.includes('password-reset')"
  (onSendIsSidebarOpened)="onGetIsSideBarOpened($event)"></app-header>

<mat-sidenav-container class="sidenav_container">
  <mat-sidenav class="sidenav"
    *ngIf="router.url !== '/login' && router.url !== '/home' && !router.url.includes('register') && router.url !== '/notfound' && !router.url.includes('password-reset') && role !== 'ROLE_USER'"
    [opened]="router.url !=='/home' ? !isSidebarOpened: isSidebarOpened" mode="side">
    <mat-nav-list fxLayout="column" menuToggleDirective>
      <mat-list-item fxLayoutAlign="start center" menuToggleLink *ngFor="let menuitem of menuItems">
        <a class="sidenav_item" menuToggle [routerLink]="menuitem.path" routerLinkActive="active"
          [routerLinkActiveOptions]={exact:true}>
          <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100">
            <div>
              <span>{{ menuitem.data.label }}</span>
            </div>
          </div>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      *ngIf="router.url !== '/login' && !router.url.includes('register') && router.url !== '/notfound' && !router.url.includes('password-reset')">
      <h2 *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_MANAGER'"
        style="background-color: white;padding-left: 25px;margin:0;text-align: center;">
        {{currentRoute.url ? currentRoute.url.charAt(1).toUpperCase() +
        currentRoute.url.slice(2).replaceAll('-',' ') : ''}}
      </h2>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
