<div style="height:100%">
  <div fxLayout="column" [routerLink]="['/manage-user']" fxFlex="33.3" fxLayoutAlign="center center">
    <div class="content user-manager">
    </div>
    <h1>User Manager</h1>
  </div>
  <div fxLayout="column" [routerLink]="['/manage-instrument']" fxFlex="33.3" fxLayoutAlign="center center">
    <div class="content instrument-manager">
    </div>
    <h1>Instrument Manager</h1>
  </div>
  <div fxLayout="column" [routerLink]="['/manage-instrument-series']" fxFlex="33.3" fxLayoutAlign="center center">
    <div class="content instrument-series-manager">
    </div>
    <h1>Instrument Series Manager</h1>
  </div>
</div>
