<div style="height:100%">
  <div fxLayout="column" fxFlex="33.3" fxLayoutAlign="center center">
    <div [routerLink]="['/manage-user']" class="content user-manager">
    </div>
    <h1>User Manager</h1>
  </div>
  <div fxLayout="column" fxFlex="33.3" fxLayoutAlign="center center">
    <div [routerLink]="['/manage-instrument']" class="content instrument-manager">
    </div>
    <h1>Instrument Manager</h1>
  </div>
  <div fxLayout="column" fxFlex="33.3" fxLayoutAlign="center center">
    <div [routerLink]="['/manage-instrument-series']" class="content instrument-series-manager">
    </div>
    <h1>Instrument Series Manager</h1>
  </div>
</div>
