<div style="height:100%;background-color: white;text-align: center;" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">

  <div *ngIf="role === 'ROLE_ADMIN'" fxLayout="column" fxFlex="33.3" fxLayoutAlign="center center">
    <div [routerLink]="['/manage-user']" class="content user-manager">
    </div>
    <h1>User Manager</h1>
  </div>
  <div *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_MANAGER'" fxLayout="column" fxFlex="33.3"
    fxLayoutAlign="center center">
    <div [routerLink]="['/manage-instrument']" class="content instrument-manager">
    </div>
    <h1>Instrument Manager</h1>
  </div>
  <div *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_MANAGER'" fxLayout="column" fxFlex="33.3"
    fxLayoutAlign="center center">
    <div [routerLink]="['/manage-instrument-series']" class="content instrument-series-manager">
    </div>
    <h1>Instrument Series Manager</h1>
  </div>
</div>
