<div style="height: 100%" *ngIf="isLoadingResult" class="email-verification" fxLayoutAlign="center center">
  <mat-spinner diameter="150"></mat-spinner>
</div>

<div style="height: 100%" class="email-verification" fxLayoutAlign="center center">

  <mat-card-content fxFlex="50" fxLayout="column" fxLayoutAlign="center center">

    <div class="upper" fxLayout="column" fxLayoutAlign="center center">

      <div
        *ngIf="isLinkValid && !isLoadingResult && !emailAlreadyConfirmed || emailAlreadyConfirmed && !isLoadingResult"
        fxLayoutAlign="center center" class="doughnut">
        <div id="tick-mark"></div>
      </div>

      <div *ngIf="!isLinkValid && !isLoadingResult && !emailAlreadyConfirmed" fxLayoutAlign="center center"
        class="doughnut">
        <div id="cross-mark"></div>
      </div>

      <p *ngIf="isLinkValid && !isLoadingResult && !emailAlreadyConfirmed" style="padding-top:20px">SUCCESS</p>
      <p *ngIf="emailAlreadyConfirmed && !isLoadingResult" style="padding-top:20px">EMAIL ALREADY CONFIRMED</p>
      <p *ngIf="!isLinkValid && !isLoadingResult && !emailAlreadyConfirmed" style="padding-top:20px">FAILED</p>
    </div>

    <div class="bottom" fxLayout="column" fxLayoutAlign="space-around center">

      <p *ngIf="isLinkValid && !isLoadingResult && !emailAlreadyConfirmed" style="text-align: center;width:60%">
        Congratulations, your account has been succesfully created.
      </p>

      <p *ngIf="!isLinkValid && !isLoadingResult && !emailAlreadyConfirmed" style="text-align: center;width:60%">
        Link expired!
      </p>

      <mat-dialog-actions
        *ngIf="isLinkValid && !isLoadingResult && !emailAlreadyConfirmed || emailAlreadyConfirmed && !isLoadingResult"
        style="height:45px;border-radius:22px;width:350px" fxLayoutAlign="center center">
        <a routerLink="/login">Continue to Login</a>
      </mat-dialog-actions>

      <mat-dialog-actions *ngIf="!isLinkValid && !isLoadingResult && !emailAlreadyConfirmed"
        style="height:45px;border-radius:22px;width:350px" fxLayoutAlign="center center">
        <a (click)="onResendVerificationEmail()">Re-send Verification Email</a>
      </mat-dialog-actions>
    </div>
  </mat-card-content>
  <div>
