mat-sidenav-container {
  height: 100%;
  background-color: inherit !important;
}

mat-sidenav,
mat-sidenav-content {
  padding: 25px !important;
}

mat-sidenav {
  width: 300px;
  color: $secondaryColor !important;
  background-color: $sidenavColor !important;
}
