mat-sidenav-container {
  height: 100%;
}

mat-sidenav,
mat-sidenav-content {
  padding: 25px;
}

mat-sidenav {
  width: 300px;
  color: black !important;
}
.mat-drawer{
    background-color: rgb(6 205 237 / 99%);

}
